name: Auto Deploy Next.js (Production)

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js
        run: npm run build

      - name: Deploy files
        run: |
          rsync -av --delete \
          --exclude=node_modules \
          --exclude=.git \
          --exclude=.github \
          ./ /var/www/confyans-website/

      - name: Restart app
        run: |
          cd /var/www/confyans-website
          pm2 reload ecosystem.config.js || pm2 start ecosystem.config.js
